
<div id="info">
    <h2>David-el Yosef</h2>
    <h4>Full-stack Web Developer</h4><hr>
    <i>This is a supermarket website, here you can sign up as a new user,<br>
        sign in, and between our products select the products you want to add to your cart.<br>
        Then order the products in the cart and fill the proper information in the input fields.
    </i><br><br><hr>
    
    <i>
        I'm a web developer skilled in: Node.js, React, Angular and more, to see the source code<br>
        of this project and many others your'e welcome to visit my github profile.<br>
        You can also contact me in linkedIn or my mail.
    </i><br><br>

</div>


<div id="footer">
    <h3>Let's get in touch</h3>
    <a target="_blank" href="https://github.com/davidelyosef">
        <img src="./assets/images/github-white.png" alt="link">
    </a>
    <a target="_blank" href="mailto: davidyf96@gmail.com">
        <img src="./assets/images/gmail.png" alt="link">
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/david-el-yosef-5736b7196/">
        <img src="./assets/images/linkedin.png" alt="link">
    </a>
</div>