* {
    margin: auto;
}
form {
    text-align: center;
    label {
        display: block;
    }
    div {
        text-align: center;
        margin: 5px;
        input {
            width: 70%;
        }
        .alert {
            width: 70%;
            margin: auto;
        }
    }
    .btn-info {
        background-color: transparent;
        color: black;
    }
    .btn-info:hover {
        background-color: rgb(60, 60, 255);
        color: white;
    }

}