* {
    margin: auto;
}
form {
    text-align: center;
    label {
        display: block;
    }
    div {
        text-align: center;
        input {
            width: 70%;
        }
        div {
            div {
                width: 70%;
            }
        }
    }

}