* {
    text-align: center;
}
#selectedProducts, #order {
    width: 45%;
    margin: 5px;
    display: inline-block;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    max-height: 50000px;
    padding: 10px;
    vertical-align: top;
    position: relative;
} 
#order {
    >i {
        text-align: left;
        width: 100%;
        border-bottom: 1px solid gray;
        margin-top: 15px; 
        display: block;
    }
    .btn-danger {
        position: absolute;
        left: 5px;
        top: 5px;
        width: auto;
    }
    h3 {
        margin-top: 30px;
        margin-bottom: -8px;
    }
    div {
        i {
            border-bottom: 1px solid gray;
            display: block;
            text-align: left;
        }
    }
}

#selectedProducts {
    border-left: 0;
}
.load {
    margin: auto;
    i {
        font-size: x-large;
    }
    img {
        width: 250px;
    }
}
@media only screen and (max-width: 328px) {
    #selectedProducts, #order {
        display: block;
        width: 100%;
        button {
            position: static;
        }
        border-left: 0;
    }
}