<!-- if there is not orders -->
<div *ngIf="ordersFromUser && ordersFromUser.length < 1 && !isAdmin && connectedUser">
    <h2>You have no orders yet</h2>
</div>

<!-- orders and regular user -->
<div *ngIf="ordersFromUser && ordersFromUser.length >= 1">
    <h2>My Orders: </h2>
    <app-order-table [orders]="ordersFromUser" [users]="users" [isAdmin]="isAdmin"></app-order-table>

</div>

<!-- all orders if i admin -->
<div *ngIf="orders && isAdmin">
    <h2>All orders from all users</h2>
    <app-order-table [orders]="orders" [users]="users" [isAdmin]="isAdmin"></app-order-table>
</div>

<!-- not connects -->
<app-not-connected *ngIf="!connectedUser"></app-not-connected>